/* Variables */
:root {
  --mint: #5ae8d5;
  --chocolate: #573e31;
  --raspberry: #f2308e;
  --vanilla: #faf2c8;

  --headerText: var(--vanilla);
  --headerBg: var(--raspberry);
}

/* --Reset and boilerplate stuff-- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: var(--vanilla);
  color: var(--chocolate);
  line-height: 1.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  line-height: 1.2;
}

@media (min-width: 40em) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 5rem 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/* ----- */

/* --Header and marker-- */
header {
  position: fixed;
  width: 100%;
  padding: 0 max(1rem, 3vw);
  background-color: var(--headerBg);
  color: var(--headerText);
  font-weight: 700;
  transition: color 200ms, background-color 200ms;
}

header::after {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--markerWidth, 0);
  height: 0.4rem;
  background-color: currentColor;
  transform: translate3d(var(--markerLeft, 0), 0, 0);
  transition: transform 250ms, width 200ms, background-color 200ms;
  will-change: width;
}

@media (min-width: 40em) {
  header::after {
    display: block;
  }
}
/* ----- */

/* --Header SVG - not necessary for the demo, just for fun-- */
.header__home-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 5.25rem;
  height: 5.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 50%;
  background: var(--headerBg);
  color: var(--headerText);
  border: 0.3rem solid;
}
/* ----- */

/* --Layout stuff-- */
.section__img {
  max-width: 12rem;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .section__img {
    max-width: none;
  }
}

section:last-child .section__img {
  max-width: 10rem;
}

.container {
  max-width: 60rem;
  padding: 0 min(2rem, 5vw);
}

@media (min-width: 40rem) {
  .grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: none;
  margin-left: auto;
}

@media (min-width: 40rem) {
  .header__list {
    display: flex;
  }
}

.header__list a {
  display: block;
  padding: 1rem;
}
/* ----- */

/* --Secton specific styles, not related to demo-- */
.section__link {
  display: inline-block;
  background: var(--chocolate);
  padding: 1rem 1.5rem;
  color: var(--vanilla);
  border-radius: 0.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
/* ----- */

/* --Section colors-- */
[data-section='raspberry'] {
  background-color: var(--raspberry);
  color: var(--vanilla);
}

[data-section='mint'] {
  background-color: var(--mint);
  color: var(--chocolate);
}

[data-section='vanilla'] {
  background-color: var(--vanilla);
  color: var(--chocolate);
}

[data-section='chocolate'] {
  background-color: var(--chocolate);
  color: var(--vanilla);
}
/* ----- */

/* --Setting the custom properties for header colors-- */
[data-theme='raspberry'] {
  --headerText: var(--raspberry);
  --headerBg: var(--vanilla);
}

[data-theme='mint'] {
  --headerText: var(--mint);
  --headerBg: var(--chocolate);
}

[data-theme='chocolate'] {
  --headerText: var(--chocolate);
  --headerBg: var(--vanilla);
}
/* ----- */

/* --Setting the scroll root - because Codepen puts the content in an iframe-- */
/*.scroller {*/
/*  height: 100vh;*/
/*  width: 100%;*/
/*  overflow: auto;*/
/*}*/
/* ----- */

/* --Smooth scroll behaviour for links-- */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* ----- */
