body{
    text-align: center;
}

#tooltip{
    font-size: 16px;
    background-color: #ffffdd;
    opacity: 0.8;
}

.county{
    stroke: #fff;
    stroke-width: .5px;
}
.county:hover{
    fill: #aaaaaa !important;
}
  
  