body{
    text-align: center;
}
header{
    font-size: 40px;
    margin-top: 30px;
}
path{
    cursor: pointer;
}

.adjustment-container{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "sessionTitle sessionTitle breakTitle breakTitle"
        "sessionUp sessionDown breakUp breakDown"
        "sessionLength sessionLength breakLength breakLength";
    font-size: 18px;
}

.adjustment-container>#session-label{
    grid-area: sessionTitle;
}
.adjustment-container>#session-increment{
    grid-area: sessionUp;
    width: 30%;
    justify-self: end;
}
.adjustment-container>#session-decrement{
    grid-area: sessionDown;
    width: 30%;
    justify-self: start;
}
.adjustment-container>#session-length{
    grid-area: sessionLength;
}

.adjustment-container>#break-label{
    grid-area: breakTitle;
}
.adjustment-container>#break-increment{
    grid-area: breakUp;
    width: 30%;
    justify-self: end;
}
.adjustment-container>#break-decrement{
    grid-area: breakDown;
    width: 30%;
    justify-self: start;
}
.adjustment-container>#break-length{
    grid-area: breakLength;
}
