<div id="root">
</div>

<audio className="test" id="beep" preload="auto" src="https://www.soundjay.com/button/sounds/beep-11.mp3">
  <code>audio</code> element not supported.
</audio>
<!--React CDN-->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<!--FCC-->
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>