html, body{
    text-align: center;
}
.presentation{
    display: grid;
    margin: 0 auto;
    width: 400px;
    background-color: orange;
    text-align: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.presentation #display{
    font-size: 1.2rem;
}

.presentation #expression::before{
    content: "\00a0"; 
}
.presentation #expression{
    font-size: 0.8rem;
}

.calcButton{
    display: grid;
    width: 400px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: grey;
    border-style: solid;
    border-width: 2px;
}

.calcButton > *{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    text-align: center;
    vertical-align: center;
}

.calcButton #clear{
    grid-column: 1 / span 2;
    background-color: red;
}

.calcButton #zero{
    grid-column: 1 / span 2;
}

.calcButton #equals{
    grid-column: 4;
    grid-row: 4 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}