html{
  font-size: 16px;
}
body{
  margin: 50px 0 0 0;
  background-color: #99aa66;
  font-family: 'Open Sans', sans-serif;
}

#navbar{
  position: fixed;
  top: 0; left: 0;
  height: 50px;
  width: 100%;
  background-color: black;
}
#navbar > ul{
  display: flex;
  width: 50%;
  height: 100%;
  float: right;
  justify-content: space-around;
  align-items: center;
  margin: 0;  padding: 0;
  list-style-type: none;
  font-size: 20px;
  color: white;
}

:target::before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0; 
}

a{
  text-decoration: none;
  color: white;
}
main > h1{
  text-align: center;
}

#welcome-section{
  display: flex;
  height: 100vh; /*it's test requirement actually I want calc(100vh - 50px = nav bar height) */
  font-size: 1.3rem;
}
#welcome-section .left-container{
  flex-basis: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #eee;
  text-align: left;
}
#welcome-section .right-container{
  flex-basis: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ccc;
  text-align: right;
}

a > img{
  max-width: 100%;
}

#projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
  text-align: center;
}
.project-tile{
  justify-self: right;
  background-color: orange;
  width: 80%;
  height: 100%;
}
.project-tile-right{
  justify-self: left;
  background-color: orange;
  width: 80%;
  height: 200px; 
}
footer{
  float: right;
}

#contact{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #navbar{
    background-color: pink;
  }
}
