body {
  margin-top: 80px;
  padding: 20px;
  background: #eee;
  font-size: 16px;
}
h1{
  text-align: center;
  font-size: 2rem;
}
p{
  text-align: center;
  word-wrap: break-word;
  max-width: 30rem;
  margin: 0 auto;
}

#header{
  position: fixed;
  top: 0px; left: 0px; right: 0px; 
  height: 80px;
  background-color: #ddd;
}
#header > img{
  position: relative;
  width: 100px;
  height: auto;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
}
header > nav{
  width: 50%;
  height: 100%;
	float: right;
  font-size: 1.2rem;
  font-family: "Helvetica", sans-serif;
  background-color: #DDDDDD;
}
section{
  margin-top: 40px;
  margin-bottom: 40px;
}
nav > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav > ul > li{
  list-style-type: none;
}
li > a{
  text-decoration: none;
  color: black;
}

:target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0; 
}

#unboxing{
  text-align: center;
}

#price{
  margin-bottom: 50px;
  display: flex;
  height: 300px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
#price > h1{
  flex-basis: 100%;
}
.priceItem{
  padding-top: 20px;
  width: 200px;
  background-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  font-size: 32px;
  white-space: nowrap;
  margin: 1%;
}
.priceItem > ul{
  padding-top: 20px;
  padding-left: 4vw;
  font-size: 24px;
  text-align: left;
}

input[type=submit]{
  padding: 4px 12px;
  border-radius: 5px;
  background-color: #ccc;
}

.credits{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

@media screen and (max-width: 720px) {
	nav > ul{
		flex-direction: column;
    font-size: 1.1rem;
  }
  #price .priceItem{
    font-size: 5vw;
    width: 30%;
  }
  .priceItem > ul{
    font-size: 3vw;
  }
}

@media screen and (max-width: 400px) {
  main{
    padding-bottom: 200px;
  }
	body{
    margin-top: 200px;
  }
	#header > nav{
		display: block;
    width: 100%;
	}
  #header > img{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .priceItem{
    flex-basis: 100%;
  }
  .priceItem > ul{
    font-size: 1rem;
    padding-left: 2rem;
  }
  :target::before {
    content: "";
    display: block;
    height: 150px;
    margin: -150px 0 0; 
  }
}
