html{
  font-size: 16px;
}
body{
  margin-left: 190px;
}
p{
  padding-left: 20px;
}
section{
  padding-top: 20px; 
}
code.emphasize{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 360px;
  margin: 0 auto;
  background-color: lightgrey;
  text-align: justify;
}
#navbar{
  position: fixed;
  height: 100%;
  width: 170px;
  top: 0; left: 0;
  background-color: #fff;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  border-style: inset;
  border-width: 3px;
}
#navbar a{
  padding: 10px;
  text-decoration: none;
  font-size: 1.3em;
  color: black;
  border-top-style: inherit;
  border-width: 1px;
  border-color: black;
}
#navbar a:hover{
  color: blue;
}
nav > header > h1{
  color: blue;
}
@media screen and (max-width: 600px){
  #navbar{
    position: absolute;
    height: 380px;
    width: 100%;
  }
  body{
    margin-top: 400px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
