body {
  font-size: 16px;
  margin: 2em;
  
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}
h1{
  margin: 50px;
  text-align: center;
  
  text-decoration: underline;
}
.main-container{
  text-align: center;
}
.collapsible-btn{
  /*position, dimension*/
  display: block;
  font-size: 1em;
  height: 1.5em;
  margin: 40px auto 0 auto;
  width: 8em;
  /*aesthetic*/
  border-width: 1px;
  background-color: #eee;
  cursor: pointer;
}
.collapsible-btn:hover{
  background-color: #ccc;
}
.collapsible-content{
  max-height: 0;
  overflow: hidden;
  margin-top: 20px;
  background-color: #eee;
  transition: max-height 1s ease-out
}
li {
  margin-bottom: 1em;
}
.user-stories{
  text-align: justify;
  margin: 15px auto;
  max-width: 700px;
}
ul {
	list-style-type: none;
}