.slider-container{
    margin: 2%;
    text-align: center;
}
#caption{
    margin: 2%;
    text-align: center;
}
.drum-pad-container{
    display: grid;
    margin: 0 auto;
    width: 30%;
    grid-template-columns: 33.33% 33.33% auto;
    border-style: solid;
    border-color: grey;
}
.drum-pad {
    display: grid;
    margin: 20% auto;
    height: 50px;
    width: 50px;
    background-color: orange;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);

    line-height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    color: yellow;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}