body{
    text-align: center;
}
a{
    text-decoration: none;
}
.tile {
    opacity: 0.8;
    stroke: white;
}
#legend{
    background-color: none;
}
.bar{
    color: #ddd;
    font-family: "Helvetica", sans-serif;
    font-size: 10px;
}
.text{
    user-select: none;
}

#tooltip{
    background-color: white;
}