<nav>
    <a onclick="treemapGenerator(GAME)" href="#">Video Game Data Set</a> | 
    <a onclick="treemapGenerator(MOVIE)" href="#">Movies Data Set</a> | 
    <a onclick="treemapGenerator(KICKSTARTER)" href="#">Kickstarter Data Set</a>
</nav>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>