body{
  background: repeating-linear-gradient(90deg, white, white 2%, #ffd8e7 2%, #ffd8e7 4%);
}
header{
  text-align: center;
  color: pink;
  text-shadow: 1px 1px 2px black, -1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black;
}

#survey-form{
  width: 50%;
	margin: auto 25%;
}
#survey-form textarea{
  width: 100%;
}
#submit-container{
  text-align: center;
}

legend{
  background: linear-gradient(20deg, #ffcae6 40%, #ffaae6 40%);
  color: black;
  padding: 3px 6px;
}

#name, #email, #number{
  box-shadow: none;
}
#name:not(:placeholder-shown):not(:focus):invalid, #email:not(:placeholder-shown):not(:focus):invalid, #number:not(:placeholder-shown):not(:focus):invalid{
	border: 2px dashed red;
  box-shadow: none;
}