html{
  font-size: 20px;
  font-family: "Comic Sans MS", sans-serif;
}

header{
  text-align: center;
}
header h1{
  margin: 60px 0;
}
header h2{
  margin-bottom: 50px;
}

body{
  background-color: #FDEDFF;
}

#img-div{
	display: flex;
	flex-direction: column;
}
#image{
  max-width: 50%;
  margin: 0 auto;
  border-style: solid;
}
#img-caption{
	text-align: center;
	padding-top: 10px;
	word-wrap: break-word;
}
#tribute-info{
	text-align: center;
}

#timeline{
	line-height: 1.3;
}
.timeline_item:hover {
	color: green;
}

ul{
	width: 60%;
	margin: 0 auto;
  text-align: justify;
}
li{
  margin: 10px 0;
}

footer{
  text-align: center;
}
footer a{
  color: green;
}