:root {
  --boxColor: #0ff7;
  --rotateSpeed: 30s;
  --bounceSpeed: 1.5s;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  animation: sceneRotate var(--rotateSpeed) infinite linear;

  .floor {
    position: absolute;
    top: 1em;

    width: 5em;
    height: 5em;
    background-image: radial-gradient(#0000, #000),
      repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
    background-size: 100%, 1em 1em;
    transform: translate(-50%, -50%) rotateX(90deg);
  }

  .box {
    width: 2em;
    height: 2em;

    position: absolute;
    bottom: -1em;
    left: -1em;
    animation: boxHeight var(--bounceSpeed) infinite linear;
    @keyframes boxHeight {
      0%,
      100% {
        height: 1.5em;
      }
      6.5%,
      93.5% {
        height: 2em;
      }
    }

    .left,
    .right,
    .front,
    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--boxColor);
      box-shadow: 0 0 0.5em #000a inset;
    }

    .front {
      transform: translateZ(1em);
    }
    .right {
      transform: rotateY(90deg) translateZ(1em);
    }
    .back {
      transform: rotateY(180deg) translateZ(1em);
    }
    .left {
      transform: rotateY(270deg) translateZ(1em);
    }

    .top {
      position: absolute;
      width: 2em;
      height: 2em;
      background: var(--boxColor);
      transform: translateY(-50%) rotateX(90deg);
      box-shadow: 0 0 0.5em #000a inset;
      .ballShadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(#0007, #0000 50%);
        animation: ballShadow var(--bounceSpeed) infinite ease-out;
        @keyframes ballShadow {
          0%,
          6.5%,
          93.5%,
          100% {
            opacity: 1;
            transform: scale(1);
          }
          50% {
            opacity: 0.5;
            transform: scale(2);
            animation-timing-function: ease-in;
          }
        }
      }
    }

    .bottom {
      position: absolute;
      width: 2em;
      height: 2em;
      background: #0007;
      bottom: 0;
      transform: translateY(50%) rotateX(90deg);
      box-shadow: 0 0 0.5em #000;
    }
  }

  .ball {
    position: absolute;
    left: -0.5em;
    bottom: 1em;

    width: 1em;
    height: 1em;
    border-radius: 50%;

    background: lightblue;
    background-image: radial-gradient(circle at top, lightblue, #000);
    animation: ballBounce var(--bounceSpeed) infinite ease-out,
      sceneRotate var(--rotateSpeed) infinite linear reverse;

    @keyframes ballBounce {
      0%,
      100% {
        bottom: 0.5em;
      }
      50% {
        bottom: 3em;
        animation-timing-function: ease-in;
      }
    }
    @keyframes sceneRotate {
      to {
        transform: rotateY(360deg);
      }
    }
  }
}
