.bar{
    fill: navy
}
.bar:hover {
    fill: white;
}
body{
    text-align: center;
    background-color: #eeeeee;
}
svg{
    padding: 40px;
}
#tooltip{
    box-shadow: 2px 2px 4px;
    background-color: #ccccdd;
}