#quote-box{
    text-align: center;
}

#text{
    height: 20vh;
}

.fa{
    padding: 10px;
    font-size: 20px;
    /*width: 50px;*/
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
  